<% @movies.each do |movie| %>
  <div class="col-md-3 movie_display_col">
    <div class="movie_display">
        <%= image_tag movie.poster_img_url.to_s, class: "poster_img" %>
      <h2><%= link_to movie.title, movie_path(movie) %></h2>
      <h3><%= movie.release_date %></h3>
      <h4>Dir: <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description%></p>
    </div>  
  </div>
<% end %>