<div class="container-fluid">
  <div class="row">
  <!-- Left column; Search and login-->
    <div class="col-md-4">
      <!-- Search form -->
      <div class="row" style="background-color: green">
        <h2>Search for a movie</h2>
          <%= render 'movies/search' %>
      </div>
      <!-- Log in form -->
      <div class="row">
        <% if current_user %>
          <h1> Hello <%= current_user.firstname %> </h1>
          <h2> Submit a movie </h2>
          <%= render 'movies/form' %>
        <% else %>
        <%= render 'sessions/login' %>
        <% end %>
      </div>
    </div>

  <!-- Right column; Display movies -->
    <div class="col-md-8">
    <%= render 'movies/movie' %>
    </div>
  </div>
</div> 

<hr>