<div class="container-fluid">
  <div class="row">
  <!-- Left column; Search and login-->
    <div class="col-md-4">
      <!-- Search form -->
      <div class="row" style="background-color: green">
        <div class="col-md-12">
          <h2>Search for a movie</h2>
          <%= render 'movies/search' %>
        </div>
      </div>
      <!-- Log in or Submit movie -->
      <div class="row">
        <div class="col-md-12">
          <% if current_user %>
            <h1> Hello <%= current_user.firstname %> </h1>
            <h2> Submit a movie </h2>
            <%= render 'movies/form' %>
          <% else %>
            <%= render 'sessions/login' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Right column; Display movies -->
    <div class="col-md-8">
      <%= render 'movies/movie' %>
    </div>

  </div>
</div> 

<hr>