<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %><br/>

<h2>Search for a movie</h2>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:query, "Search") %>
  <%= text_field_tag(:query) %><br/>
  <%= label_tag(:runtime_in_minutes, "Runtime:") %>
  <%= select_tag(:runtime_in_minutes, options_for_select([["Select range"], ['Under 90 minutes', 1],['Between 91-120 minutes', 2], ['Over 120 minutes', 3]])) %><br/>

  <%= submit_tag("Search") %>
<% end %>

<%= render 'movies/movie' %>
 
<hr>
